*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

.container{
    max-width: 400px;
}
input[type='text'],
input[type='text']:focus{
    color: rgb(250, 215, 250);
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}
input[type='text']:hover{
    background-color:lightcyan;
    color: black;
}
.todos li{
    background-color: rgb(220, 242, 243);
}
.delete{
    cursor: pointer;
    color: red;
}
.filtered{
    display: none !important;
}